<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title"><%= list.title %></h4>
    <% list.categories.each do |c| %>
<p class="card-text"><%= c.title %></p>
    <% end %>
  </div>
</div>