<h2> Most recent lists </h2>
<div class="container">
  <% @recent_lists.each_with_index do |list, idx| %>
    <% if idx % @numCols == 0 %>
      <div class="row">
        <div class="col">
          <%= render "list_tile", list: list %>
        </div>
      <% elsif idx % @numCols != @numCols - 1 %>
        <div class="col">
          <%= render "list_tile", list: list %>
        </div>
      <% else %>
        <div class="col">
          <%= render "list_tile", list: list %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
