<div class="magictime puffIn border border-3 rounded mt-4" style="overflow: hidden;">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <style>
    .small { font: 5px sans-serif; }
    .large { 
        font: 6rem; 
        fill: white;
        stroke: #000000;
        stroke-width: 1px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
    }
    .heavy { font: bold 30px sans-serif; }

    /* Note that the color of the text is set with the    *
     * fill property, the color property is for HTML only */
    .Rrrrr { font: italic 40px serif; fill: red; }
  </style>
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,0,0,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,0,0,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,0,0,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#000" />
            <text x="70" y="40" class="large"><%= count %></text>
    </g>
  </svg>
</div>
