// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.num-viewers-container {
    text-align: center;
}

#text-message-validation-message {
    color: red;
    text-align: center;
}