<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2021 - <%= Time.now.year %> Raiyan Sayeed</p>
  <%# <ul class="list-inline">
    <li class="list-inline-item"><a href="#">About</a></li>
  </ul> %>
</footer>